body{
    margin: 0;
}

h1{
    color:darkred;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    text-align: center;
}

img{
    height: 300px;
    width: 300px;
    margin: 1px;
}

#secao{
    height: 3px;
    background-color: black;
}

#divisao{
    text-align: center;
}

.btn{
    margin: 5px;
}