<html>
    <head>
        <title>Super Trunfo</title>
        <meta charset="UTF-8"/>
        <link href="../style.css" rel="stylesheet"/>
    </head>
    <body>
        <input id="sorteio" class="btn" type="button" onclick="Sorteio()" value="Sortear"/><br/><br/>
        <input id="jogar" class="btn" type="button" onclick="Jogar()" disabled="true" value="Jogar"/>
        <div id="atributos"></div><br/>
        <div id="resultados"></div>

        <script type="text/javascript" src="../baralho.js"></script>
    </body>
</html>