<html>

    <head>   
        <title>Alura</title>
        <meta charset="UTF-8"/>
        <link rel="icon" href="../content/whatsapp.png"/>
        <link href="../style.css" rel="stylesheet"/>
        
    </head>

    <body>
        
        <div id="divisao">

            <!--<h1>ALURA</h1>

            <input type="number" id="valor"/> <br/><br/>
            <input type="submit" id="btn" onclick="Converter()"/> <br/><br/>
            <h2 id="valorConvertido"></h2>

            <section id="secao"></section>

            <h1>ADIVINHE</h1>

            <input type="number" id="numero"/> <br/><br/>
            <input type="submit" id="" onclick="Chutar()"/> <br/><br/>
            <h2 id="resultado"></h2>

            <section id="secao"></section>

            <h1>METFLIX</h1>

            <input  placeholder="Músicas" id="caminhoImg"/> <br/><br/>
            <input  type="submit" id="bntAddAlbum" onclick="addAlbum()"/><br/><br/>

            <div id="listaAlbums"></div>-->
            
            <table border="1px">
                <thead><!--Cabeçalho da tabela-->
                    <tr><!--table rows, são as linhas da tabela-->
                        <th>Nome</th><!--th dá um destaque, poderia ser td também-->
                        <th>Vitórias</th>
                        <th>Empates</th>
                        <th>Derrotas</th>
                        <th>Pontos</th>
                        <th colspan=3>Botões</th>
                    </tr> <!---->
                </thead>
                <tbody id="ranking"><!--corpo da tabela-->
                    <!--<tr> --Uma nova linha aqui 
                        <td>Davi</td> --table data, dados da tabela-
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button onclick="addVitoria()">V</button></td>
                        <td><button onclick="addEmpate()">E</button></td>
                        <td><button onclick="addDerrota()">D</button></td>                        
                    </tr>
                    <tr>
                        <td>Camila</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button onclick="addVitoria()">V</button></td>
                        <td><button onclick="addEmpate()">E</button></td>
                        <td><button onclick="addDerrota()">D</button></td>                        
                    </tr>-->
                </tbody>
            </table>

        </div>
        <script type="text/javascript" src="../script.js"></script> <!--ALGUÉM ME EXPLICA ISSO AQUI-->
    </body>
</html>